.dockerignore
.env
.git
.gitignore
.vs
.vscode
docker-compose*.yml
*.md
hosts
**/bin/
**/obj/
**/node_modules/
**/bower_components/
**/wwwroot/lib/
global.json
**/appsettings.localhost.json
Web/**/wwwroot/
packages/
Dockerfile*